<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="https://unpkg.com/songbook-generator/styles/content.css">
    <meta charset="UTF-8">
</head>
<body>
	<div class="page">

		<div class="song">
			<header>
				<span class="title"></span>
				<span class="author"></span>
				<span class="tags">
					<span class="tag new"></span>
				</span>
			</header>
			<div class="content-wrapper columns-#">
				<dl class="content">

				</dl>
			</div>
		</div>

		<footer>#</footer>

	</div>
</body>
</html>