@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url("fonts/raleway/Raleway-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "NotoSans";
    src: url("fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "NotoSans";
    font-style: italic;
    src: url("fonts/notosans/NotoSans-Italic.ttf");
}

@font-face {
    font-family: "NotoSans";
    font-weight: bold;
    src: url("fonts/notosans/NotoSans-Bold.ttf");
}

@font-face {
    font-family: "NotoSans";
    font-weight: bold;
    font-style: italic;
    src: url("fonts/notosans/NotoSans-BoldItalic.ttf");
}

:root {
    --page-width: 148.5mm;
    --page-height: 210mm;

    --page-padding: 5mm;
    --page-bleed: 8mm;

    --color-secondary: #a7a7a7;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "NotoSans";
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: var(--page-width);
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    .booklet-only {
        display: none;
    }

    &.booklet {
        grid-template-columns: var(--page-width) var(--page-width);

        .booklet-only {
            display: block;
        }
    }

    @media screen {
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.tags {
    display: inline-flex;
    gap: 1mm;

    .tag {

        &.capo {
            order: 1;

            &:before {
                content: "≡❘≡";
                margin-right: 0.2mm;
                vertical-align: middle;
                width: 10px;
                display: inline-flex;
                overflow: hidden;
                justify-content: center;
                transform: rotate(62deg);
                white-space: nowrap;
            }
        }

        &.non-polish {
            order: 2;

            &:before {
                content: '\2690';
            }
        }

        &.new {
            order: 3;

            &:before {
                content: '\2726';
            }
        }
    }
}

.page {
    width: var(--page-width);
    height: var(--page-height);
    padding: var(--page-padding);
    font-size: 3mm;
    position: relative;
    break-after: page;

    &.left {
        padding-right: calc(var(--page-padding) + var(--page-bleed));
    }

    &.right {
        padding-left: calc(var(--page-padding) + var(--page-bleed));
    }

    &:not(.left):not(.right) {
        padding-left: calc((2 * var(--page-padding) + var(--page-bleed)) / 2);
        padding-right: calc((2 * var(--page-padding) + var(--page-bleed)) / 2);
    }

    @media screen {
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 50%);
    }

    & header {
        outline: 0.25mm solid black;
        padding: 1mm 1.25mm 1mm 3mm;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 1mm;
        margin-bottom: 2mm;
        font-family: "Raleway";
        display: flex;
        align-items: center;

        .title {
            text-transform: capitalize;
        }

        .author {
            text-transform: uppercase;

            &:before {
                content: "\2013";
                margin: 0 2mm;
            }
        }

        .tags {
            height: calc(100% - 1.5mm);
            margin-left: auto;
            display: flex;
            align-items: center;

            .tag {
                padding: 0 0.7mm;
                font-size: 0.85em;
                overflow: hidden;
            }
        }
    }

    .song {
        & + & {
            margin-top: 5mm;
        }

        .content-wrapper {
            margin: 0 1mm;
            column-gap: 2mm;

            &.columns-2 {
                columns: 2;
            }

            &.columns-3 {
                columns: 3;
            }
        }

        .content {
            display: grid;
            grid-template-columns: max-content auto;
            gap: 0 2mm;
            margin: 0;
            line-height: 1.5em;

            & dt {
                grid-column-start: 1;
                text-align: right;
                font-weight: bold;
                white-space: nowrap;
                word-spacing: 0mm;
                letter-spacing: -0.1mm;
                font-style: italic;
                font-family: "Raleway";
            }

            & dd {
                grid-column-start: 2;
                margin: 0;
                break-after: avoid-column;
                -webkit-column-break-after: avoid;
            }

            dt:empty,
            dd:empty {
                height: 2.5mm;
            }
        }
    }

    & footer {
        position: absolute;
        bottom: var(--page-padding);
        left: var(--page-padding);
        right: var(--page-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 3.2mm;
        padding-top: 2mm;

        .left & {
            flex-direction: row-reverse;
            right: calc(var(--page-padding) + var(--page-bleed));
        }

        .right & {
            left: calc(var(--page-padding) + var(--page-bleed));
        }

        .page:not(.left):not(.right) & {
            left: calc((2 * var(--page-padding) + var(--page-bleed)) / 2);
            right: calc((2 * var(--page-padding) + var(--page-bleed)) / 2);
        }

        &:before {
            content: attr(data-extra, "(footer-placeholder)");
            font-style: italic;
            color: var(--color-secondary);
        }
    }

    &.toc {
        display: grid;
        grid-template-columns: minmax(0, 1fr) min-content;
        line-height: 1.5em;
        align-content: start;
    }

    .tocItem {
        display: contents;

        &.isNewLetter {
            &:not(:first-child) {
                .tocItemContent,
                .pageNumber {
                    padding-top: 1em;
                }
            }

            .name:first-letter {
                font-weight: bold;
            }
        }

        .tocItemContent {
            display: flex;

            &:before,
            &:after {
                letter-spacing: 1.5mm;
            }

            &:before {
                content: '.......................................................................................';
                margin-left: 2mm;
                direction: rtl;
                min-width: 0;
                overflow: hidden;
                order: 2;
            }

            &:after {
                content: '..';
                margin-right: 1mm;
                order: 4;
            }
        }

        .name {
            white-space: nowrap;
            order: 1;
        }

        .tags {
            display: flex;
            align-items: center;
            gap: 1mm;
            order: 3;

            .tag {
                &:first-child {
                    margin-left: 2mm;
                }

                &:last-child {
                    margin-right: 2mm;
                }
            }
        }
    }

    & pre {
        font-size: 0.8em;
        line-height: 1.2em;
    }
}

.b2 {
    font-size: 1.2em;
}

.b1 {
    font-size: 1.1em;
}

.s1 {
    font-size: 0.95em;
}

.s2 {
    font-size: 0.9em;
}

.s3 {
    font-size: 0.85em;
}

.s4 {
    font-size: 0.8em;
}

b {
    font-style: italic;
}